Gardenr Device (Raspberry PI + sensors + other components)
	Must Have:
		-Initialised device via SSH
		-Sends registration request once initialised
		-Shows unique ID on SSH once registered
		-Monitors soil moisture level/percentage via a sensor
		-Reads and sends values to every 30 min (scheduled with CRON)

	Should Have:
		-Luminosity/UV, Temperature, Humidity sensors
		-Initialise device with existing ID via App + Bluetooth (in case of device replacement)
		-Desynchronisation mechanism, avoid making request from bulk devices (hash)

	Could Have:
		-Arduino compatible

	Would Have:
		-Powered on when an execution is needed, off otherwise, controlled by Arduino or any other low power components
		-Runs on battery
		-Evaluating plant health with image processing/color detection

		
Server (Firebase Realtime Database + Cloud Function)
	Must Have:
		-Stores data in tree-like structure (eg. JSON)
		-Triggers updates/notification on clients when data is received
		-Social media platform, stores relationship between users and plants (eg. following)
		-API for retrieving owns and following plants' latest and time series data

	Should Have:
		-Game-like mechanisms eg. achievements/medals for users to unlock (water a plant for 7 consecutive days, had a plant gone up to 40°, etc.)

	Could Have
		-Notifies users if plants are not being watered as usual
		-Approximate and store the regular time when each plant is being watered
		-Detects and notifies abnormal sensor conditions (eg. moisture sensor getting rusty/worn out)


User Interface (Flutter)
	Must Have:
		-User authentication system
		-Visualises data fetched from the server (panels for real time data, graphs for time range data)
		-Activate and claim ownership of Gardenr devices via Bluetooth
		-List of all belonging plants
		-Plant profile section: name, species, description, optional photo, latest sensor values + graphs
		
	Should Have:
		-Follows another plant by ID
		-Access to user profiles, their list of plants and unlocked achievement
		
		

